<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="objectFactorySection" type="Adf.Core.Objects.ObjectFactorySection, Adf.Core" />
    <section name="objectFactoryConfiguration" type="Adf.Base.Configuration.ObjectFactoryConfigurationSection, ADF.Base, Version=1.0.0.0, Culture=neutral"/>
  </configSections>
  <objectFactorySection type="Adf.Objects.Unity.UnityProvider, Adf.Objects.Unity"/>
  <objectFactoryConfiguration>
    <services>
      <!-- Messaging -->
      <add serviceInterfaceType="Adf.Core.Messaging.IMessageDefinitionProvider, Adf.Core" serviceRealizationType="Adf.Base.Messaging.XmlMessageDefinitionProvider, Adf.Base" instanceName="Xml" lifeCycle="SharedInstance"/>
      <add serviceInterfaceType="Adf.Core.Messaging.IMessageHandler, Adf.Core" serviceRealizationType="Adf.Base.Messaging.CsvMessageHandler, Adf.Base" instanceName="CSV" lifeCycle="SharedInstance"/>
      <!-- Smart References -->
      <add serviceInterfaceType="Adf.Core.Domain.References, Adf.Core" serviceRealizationType="Adf.Business.Tests.MaturityLevel, Adf.Business.Tests" instanceName="ApplicationReferences" lifeCycle="SharedInstance"/>
      <!-- Authorization -->
      <!--<add serviceInterfaceType="Adf.Core.IAuthorizationService, Adf.Core" serviceRealizationType="Adf.Authorization.AllAuthorizationService, Adf.Authorization" lifeCycle="SharedInstance"/>-->
      <!--<add serviceInterfaceType="Adf.Core.Authorization.IAuthorizationProvider, Adf.Core" serviceRealizationType="Titan.Test.TestAuthorizationProvider, Titan.Test" lifeCycle="SharedInstance"/>-->
      <!-- Task Handling -->
      <!--<add serviceInterfaceType="Adf.Core.Test.ITestProvider, Adf.Core" serviceRealizationType="Titan.Test.TitanTestProvider, Titan.Test" lifeCycle="SharedInstance"/>-->
      <!--<add serviceInterfaceType="Adf.Core.Views.IViewProvider, Adf.Core" serviceRealizationType="Adf.Test.Views.TestViewProvider, Adf.Test" lifeCycle="SharedInstance"/>-->
      <!--<add serviceInterfaceType="Adf.Core.Tasks.ITaskProvider, Adf.Core" serviceRealizationType="Adf.Test.Tasks.TestTaskProvider, Adf.Test" lifeCycle="SharedInstance"/>-->
      <!--<add serviceInterfaceType="Adf.Core.Tasks.ITask, Adf.Core" serviceRealizationType="Titan.Process.MainTask, Titan.Process" lifeCycle="SharedInstance"/>-->
      <!-- Resource Providers -->
      <!--<add serviceInterfaceType="Adf.Core.ResourceProviders.IResourceProvider, Adf.Core" serviceRealizationType="Adf.Core.ResourceProviders.StateResourceProvider, Adf.Core" lifeCycle="SharedInstance" instanceName="config"/>-->
      <!--<add serviceInterfaceType="Adf.Core.ResourceProviders.IResourceProvider, Adf.Core" serviceRealizationType="Titan.Data.Resource.DatabaseResourceProvider, Titan.Data" lifeCycle="SharedInstance" instanceName="database"/>-->
      <!-- Data Sources -->
      <add serviceInterfaceType="Adf.Core.Query.IQueryParser, Adf.Core" serviceRealizationType="Adf.Base.Query.SqlServerQueryParser, Adf.Base" instanceName="Application" lifeCycle="SharedInstance"/>
      <add serviceInterfaceType="Adf.Core.Query.IQueryParser, Adf.Core" serviceRealizationType="Adf.Base.Query.SqlServerQueryParser, Adf.Base" instanceName="RowStateHandler" lifeCycle="SharedInstance"/>
      <add serviceInterfaceType="Adf.Core.Query.IQueryParser, Adf.Core" serviceRealizationType="Adf.Base.Query.SqlServerQueryParser, Adf.Base" instanceName="SmartReference" lifeCycle="SharedInstance"/>
      <add serviceInterfaceType="Adf.Core.Query.IAdfQueryHandler, Adf.Core" serviceRealizationType="Adf.Data.DatabaseQueryHandler, Adf.Data" instanceName="RowStateHandler" lifeCycle="SharedInstance"/>
      <add serviceInterfaceType="Adf.Core.Query.IAdfQueryHandler, Adf.Core" serviceRealizationType="Adf.Base.Data.DictionaryQueryHandler, Adf.Base" instanceName="Application" lifeCycle="SharedInstance"/>
      <add serviceInterfaceType="Adf.Core.Query.IAdfQueryHandler, Adf.Core" serviceRealizationType="Adf.Base.Data.DictionaryQueryHandler, Adf.Base" instanceName="SmartReference" lifeCycle="SharedInstance"/>
      <!--<add serviceInterfaceType="Adf.Core.Data.IDataProvider, Adf.Core" serviceRealizationType="Titan.Data.TitanSqlProvider, Titan.Data" instanceName="Application" lifeCycle="SharedInstance"/>-->
      <!--<add serviceInterfaceType="Adf.Core.Data.IDataProvider, Adf.Core" serviceRealizationType="Titan.Data.TitanSqlProvider, Titan.Data" instanceName="RowStateHandler" lifeCycle="SharedInstance"/>-->
      <add serviceInterfaceType="Adf.Core.Data.IDataProvider, Adf.Core" serviceRealizationType="Adf.Base.Data.SqlProvider, Adf.Base" instanceName="SmartReference" lifeCycle="SharedInstance"/>
      <!-- Logging -->
      <add serviceInterfaceType="Adf.Core.Logging.ILogProvider, Adf.Core" serviceRealizationType="Adf.Base.Logging.DebugLogProvider, Adf.Base" lifeCycle="SharedInstance" instanceName="debug"/>
      <!--<add serviceInterfaceType="Adf.Core.Logging.ILogProvider, Adf.Core" serviceRealizationType="Adf.Base.Logging.FlatFileLogger, Adf.Base" lifeCycle="SharedInstance" instanceName="file"/>
      <add serviceInterfaceType="Adf.Core.Logging.ILogProvider, Adf.Core" serviceRealizationType="Adf.Base.Logging.EventLogger, Adf.Base" lifeCycle="SharedInstance" instanceName="eventlog"/>-->
      <!-- Binding configuration -->
      <!--<add serviceInterfaceType="Adf.Business.Binding.IPlatformBinder, Adf.Business" serviceRealizationType="Adf.Web.Binding.WebBinder, Adf.Web" lifeCycle="SharedInstance"/>
      <add serviceInterfaceType="Adf.Business.Binding.IControlBinder, Adf.Business" serviceRealizationType="Adf.Web.Binding.CheckBoxBinder, Adf.Web" instanceName="chb" lifeCycle="SharedInstance"/>
      <add serviceInterfaceType="Adf.Business.Binding.IControlBinder, Adf.Business" serviceRealizationType="Adf.Web.Binding.DateTimeBinder, Adf.Web" instanceName="dt" lifeCycle="SharedInstance"/>
      <add serviceInterfaceType="Adf.Business.Binding.IControlBinder, Adf.Business" serviceRealizationType="Adf.Web.Binding.RadioButtonListBinder, Adf.Web" instanceName="rbl" lifeCycle="SharedInstance"/>
      <add serviceInterfaceType="Adf.Business.Binding.IControlBinder, Adf.Business" serviceRealizationType="Adf.Web.Binding.GridViewBinder, Adf.Web" instanceName="gv" lifeCycle="SharedInstance"/>
      <add serviceInterfaceType="Adf.Business.Binding.IControlBinder, Adf.Business" serviceRealizationType="Adf.Web.Binding.DropDownListBinder, Adf.Web" instanceName="ddl" lifeCycle="SharedInstance"/>
      <add serviceInterfaceType="Adf.Business.Binding.IControlBinder, Adf.Business" serviceRealizationType="Adf.Web.Binding.TextBoxBinder, Adf.Web" instanceName="tb" lifeCycle="SharedInstance"/>
      <add serviceInterfaceType="Adf.Business.Binding.IControlBinder, Adf.Business" serviceRealizationType="Adf.Web.Binding.LabelBinder, Adf.Web" instanceName="lbl" lifeCycle="SharedInstance"/>
      <add serviceInterfaceType="Adf.Business.Binding.IControlPersister, Adf.Business" serviceRealizationType="Adf.Web.Binding.TextBoxPersister, Adf.Web" instanceName="txt" lifeCycle="SharedInstance"/>
      <add serviceInterfaceType="Adf.Business.Binding.IControlPersister, Adf.Business" serviceRealizationType="Adf.Web.Binding.DropDownListPersister, Adf.Web" instanceName="ddl" lifeCycle="SharedInstance"/>
      <add serviceInterfaceType="Adf.Business.Binding.IControlPersister, Adf.Business" serviceRealizationType="Adf.Web.Binding.DateTimePersister, Adf.Web" instanceName="dt" lifeCycle="SharedInstance"/>
      <add serviceInterfaceType="Adf.Business.Binding.IControlPersister, Adf.Business" serviceRealizationType="Adf.Web.Binding.CheckBoxPersister, Adf.Web" instanceName="cb" lifeCycle="SharedInstance"/>
      <add serviceInterfaceType="Adf.Business.Binding.IControlPersister, Adf.Business" serviceRealizationType="Adf.Web.Binding.DateTimePersister, Adf.Web" instanceName="dt" lifeCycle="SharedInstance"/>
      <add serviceInterfaceType="Adf.Business.Binding.IControlPersister, Adf.Business" serviceRealizationType="Adf.Web.Binding.RadioButtonListPersister, Adf.Web" instanceName="rblp" lifeCycle="SharedInstance"/>-->
      <!-- business rule validation -->
      <add serviceInterfaceType="Adf.Core.Validation.IValidationContext, Adf.Core" serviceRealizationType="Adf.Base.Validation.BusinessRuleValidationContext, Adf.Base" lifeCycle="InstancePerBuildUp"/>
      <!-- InstancePerBuildUp voor validaties per gebruiker -->
      <add serviceInterfaceType="Adf.Core.Validation.IValidationPolicy, Adf.Core" serviceRealizationType="Adf.Base.Validation.AttributeValidationPolicy, Adf.Base" instanceName="Attribute" lifeCycle="SharedInstance"/>
      <add serviceInterfaceType="Adf.Core.Validation.IValidationPolicy, Adf.Core" serviceRealizationType="Adf.Base.Validation.BusinessRuleValidationPolicy, Adf.Base" instanceName="BusinessRule" lifeCycle="SharedInstance"/>
      <add serviceInterfaceType="Adf.Core.Validation.IValidationPolicy, Adf.Core" serviceRealizationType="Adf.Base.Validation.ChildValidationPolicy, Adf.Base" instanceName="Child" lifeCycle="SharedInstance"/>
      <!--<add serviceInterfaceType="Adf.Core.Validation.IValidationHandler, Adf.Core" serviceRealizationType="Adf.Test.Validation.TestValidationHandler, Adf.Test" instanceName="smart"/>-->
      <!--<add serviceInterfaceType="Adf.Core.Services.IValidationHandler, Adf.Core" serviceRealizationType="Adf.Web.WebValidationHandler, Adf.Web" instanceName="default"/>-->
      <!-- id management -->
      <add serviceInterfaceType="Adf.Core.Identity.IIdProvider, Adf.Core" serviceRealizationType="Adf.Base.Identity.GuidProvider, Adf.Base" instanceName="Guid" lifeCycle="SharedInstance"/>
      <add serviceInterfaceType="Adf.Core.Identity.IIdProvider, Adf.Core" serviceRealizationType="Adf.Base.Identity.IntIdProvider, Adf.Base" instanceName="Int32" lifeCycle="SharedInstance"/>
      <!-- state management -->
      <add serviceInterfaceType="Adf.Core.State.IStateProvider, Adf.Core" serviceRealizationType="Adf.Base.State.SimpleStateProvider, Adf.Base" instanceName="Application" lifeCycle="SharedInstance"/>
      <add serviceInterfaceType="Adf.Core.State.IStateProvider, Adf.Core" serviceRealizationType="Adf.Base.State.SimpleStateProvider, Adf.Base" instanceName="Personal" lifeCycle="InstancePerThread"/>
      <add serviceInterfaceType="Adf.Core.State.IStateProvider, Adf.Core" serviceRealizationType="Adf.Base.State.ConfigStateProvider, Adf.Base" instanceName="Settings" lifeCycle="SharedInstance"/>
      <!-- Generating IDs-->
      <!--<add serviceInterfaceType="Adf.Core.IIDGenerator, Adf.Core" serviceRealizationType="Adf.Core.GuidGenerator, Adf.Core" lifeCycle="SharedInstance"/>-->
      <!--<add serviceInterfaceType="Adf.Core.IIDGenerator, Adf.Core" serviceRealizationType="Titan.Business.IntIDGenerator, Titan.Business" lifeCycle="SharedInstance"/>-->
      <!-- Set up Status Rules Management for InternalStates -->
      <add serviceInterfaceType="Adf.Data.InternalState.InternalStatusEngine, Adf.Data" serviceRealizationType="Adf.Data.InternalState.InternalStatusEngine, Adf.Data" lifeCycle="SharedInstance"/>
      <!-- BusinessGridView paging & sorting-->
      <!--<add serviceInterfaceType="Adf.Web.IGridService, Adf.Web" serviceRealizationType="Adf.Web.BusinessGridViewPager, Adf.Web" instanceName="Pager" lifeCycle="SharedInstance"/>
      <add serviceInterfaceType="Adf.Web.IGridService, Adf.Web" serviceRealizationType="Adf.Web.BusinessGridViewSorter, Adf.Web" instanceName="Sorter" lifeCycle="SharedInstance"/>-->
      <!-- PropertyParsers -->
      <add serviceInterfaceType="Adf.Core.Domain.IPropertyParser, Adf.Core" serviceRealizationType="Adf.Base.Domain.EnumPropertyParser, Adf.Base" instanceName="Enum" lifeCycle="SharedInstance"/>
      <add serviceInterfaceType="Adf.Core.Domain.IPropertyParser, Adf.Core" serviceRealizationType="Adf.Base.Domain.GuidPropertyParser, Adf.Base" instanceName="Guid" lifeCycle="SharedInstance"/>
      <add serviceInterfaceType="Adf.Core.Domain.IPropertyParser, Adf.Core" serviceRealizationType="Adf.Base.Domain.ValueObjectPropertyParser, Adf.Base" instanceName="ValueObject" lifeCycle="SharedInstance"/>
      <add serviceInterfaceType="Adf.Core.Domain.IPropertyParser, Adf.Core" serviceRealizationType="Adf.Base.Domain.DescriptorPropertyParser, Adf.Base" instanceName="Descriptor" lifeCycle="SharedInstance"/>
      <add serviceInterfaceType="Adf.Core.Domain.IPropertyParser, Adf.Core" serviceRealizationType="Adf.Business.SmartReferences.SmartReferencePropertyParser, Adf.Business" instanceName="SmartReference" lifeCycle="SharedInstance"/>
      <add serviceInterfaceType="Adf.Core.Domain.IPropertyParser, Adf.Core" serviceRealizationType="Adf.Base.Domain.DomainObjectPropertyParser, Adf.Base" instanceName="DomainObject" lifeCycle="SharedInstance"/>
      <add serviceInterfaceType="Adf.Core.Domain.IPropertyParser, Adf.Core" serviceRealizationType="Adf.Base.Domain.NullablePropertyParser, Adf.Base" instanceName="Nullable" lifeCycle="SharedInstance"/>
      <add serviceInterfaceType="Adf.Core.Domain.IPropertyParser, Adf.Core" serviceRealizationType="Adf.Base.Domain.ListPropertyParser, Adf.Base" instanceName="List" lifeCycle="SharedInstance"/>
      <!--<add serviceInterfaceType="Adf.Core.Domain.IPropertyParser, Adf.Core" serviceRealizationType="Titan.Business.QueryObjectPropertyParser, Titan.Business" instanceName="QueryObject" lifeCycle="SharedInstance"/>-->
      <add serviceInterfaceType="Adf.Core.Domain.IPropertyParser, Adf.Core" serviceRealizationType="Adf.Base.Domain.DefaultPropertyParser, Adf.Base" instanceName="Default" lifeCycle="SharedInstance"/>
      <!--ITypeConverter-->
      <add serviceInterfaceType="Adf.Core.Types.ITypeConverter, Adf.Core" serviceRealizationType="Adf.Base.Types.EnumTypeConverter, Adf.Base" instanceName="Enum" lifeCycle="SharedInstance"/>
      <add serviceInterfaceType="Adf.Core.Types.ITypeConverter, Adf.Core" serviceRealizationType="Adf.Base.Types.NullableTypeConverter, Adf.Base" instanceName="Nullable" lifeCycle="SharedInstance"/>
      <add serviceInterfaceType="Adf.Core.Types.ITypeConverter, Adf.Core" serviceRealizationType="Adf.Base.Types.ValueObjectTypeConverter, Adf.Base" instanceName="ValueObject" lifeCycle="SharedInstance"/>
      <!-- Smart panel stylers -->
      <!--<add serviceInterfaceType="Adf.Web.UI.Styling.IStyler,Adf.Web" serviceRealizationType="Adf.Web.UI.Styling.SmartPanelDefaultStyler, Adf.Web" instanceName="SmartPanelDefaultStyler" lifeCycle="SharedInstance"/>
      <add serviceInterfaceType="Adf.Web.UI.Styling.IStyler,Adf.Web" serviceRealizationType="Adf.Web.UI.Styling.SmartPanelErrorStyler, Adf.Web" instanceName="SmartPanelErrorStyler" lifeCycle="SharedInstance"/>
      <add serviceInterfaceType="Adf.Web.UI.Styling.IStyler,Adf.Web" serviceRealizationType="Adf.Web.UI.Styling.BusinessGridViewStyler, Adf.Web" instanceName="BusinessGridViewStyler" lifeCycle="SharedInstance"/>-->
      <add serviceInterfaceType="Adf.Core.Transactions.ITransactionScope, Adf.Core" serviceRealizationType="Adf.Base.Transactions.TransactionScopeProvider, Adf.Base" lifeCycle="InstancePerBuildUp"/>
    </services>
  </objectFactoryConfiguration>
  <appSettings>
    <!-- Data Sources -->
    <!--<add key="Application" value="Data Source=localhost;Initial Catalog=;Integrated Security=SSPI"/>
    <add key="RowStateHandler" value="Data Source=localhost;Initial Catalog=;Integrated Security=SSPI"/>-->
    <add key="SmartReference" value="Data Source=localhost;Initial Catalog=Titan;Integrated Security=SSPI"/>
    <add key="Resources" value=""/>
    <!-- Validation messages -->
    <add key="Adf.Business.AttributeInRangeInvalid" value="Value is not valid."/>
    <!--{0} = property name-->
    <add key="Adf.Business.AttributeInRangeInvalidRange" value="Value should be between {1:d} and {2:d}."/>
    <!--{0} = property name, {1} = min, {2} = max-->
    <add key="Adf.Business.AttributeMaxLengthNull" value="Value is not valid."/>
    <!--{0} = property name-->
    <add key="Adf.Business.AttributeMaxLengthInvalid" value="Maximum length may not exceed {1}."/>
    <!--{0} = property name, {1} = max length-->
    <add key="Adf.Business.AttributeMinLengthNull" value="Value is not valid."/>
    <!--{0} = property name-->
    <add key="Adf.Business.AttributeMinLengthInvalid" value="Value may not be under {1}."/>
    <!--{0} = property name, {1} = min length-->
    <add key="Adf.Business.AttributeNonEmptyInvalid" value="May not be empty."/>
    <!--{0} = property name-->
    <add key="Adf.Business.AttributeNotInPastNull" value="Value is not valid."/>
    <!--{0} = property name-->
    <add key="Adf.Business.AttributeNotInPastInvalid" value="Value may not be in the past."/>
    <!--{0} = property name-->
    <add key="Adf.Business.AttributeRegexNull" value="Value is not valid."/>
    <!--{0} = property name-->
    <add key="Adf.Business.AttributeRegexInvalid" value="Value is not valid."/>
    <!--{0} = property name-->
    <add key="Adf.Business.NotInstantiable" value="{0} is not a valid value."/>
    <!--{0} = value, {1} = property name-->
    <add key="Adf.Data.UnderlyingDataChanged" value="Data has been changed by another user."/>
    <add key="Adf.Data.ForeignKeyConstraintsViolated" value="Unable to remove item as it is used in collaboration with other items."/>
    <add key="Adf.Data.UnknownError" value="An unexpected error has occurred."/>
    <add key="Adf.Data.Timeout" value="The request has timed out."/>
    <add key="Adf.Data.SaveError" value="Failed to save item."/>
    <add key="Adf.Data.RemoveError" value="{0} item(s) removed."/>
    <add key="ValidationListTitle" value="Result"/>
    <!-- Settings -->
    <add key="FlatFileLogPath" value="..\Log"/>
    <add key="FlatFileLogLevel" value="Informational"/>
    <add key="microsoft.visualstudio.teamsystems.aspnetdevserver:/Titan.Web" value="1194;True;2420;1"/>
    <add key="microsoft.visualstudio.teamsystems.backupinfo" value="1;web.config.backup"/>
    <add key="ApplicationVersion" value="0.1"/>
    <add key="ApplicationName" value="Titan"/>
    <add key="MoneyFormat" value="f2"/>
    <add key="DateFormat" value="d"/>
    <add key="ResourceNotFoundFormat" value="?{0}"/>
    <add key="EventLog" value="Oikocredit"/>
    <add key="AvailableUiCultures" value="en-GB;en-US;nl-NL;fr-FR;de-DE"/>
    <add key="ValidDocumentUploadExtensions" value="bmp;doc;docx;jpg;gif;jpeg;png;txt;pdf;zip;rar;xls;"/>
    <add key="EmailFromAddress" value="irust@oikocredit.org"/>
    <add key="EmailToAddress" value="irust@oikocredit.org"/>
    <add key="EmailSmtpHost" value=""/>
    <add key="XmlMessageDefinitionRoot" value="DeploymentItems\MessageDefinitions\"/>
    <add key="PaymentBatch.AvailableAgreementTypes" value="Investment;SettlementAgreement" />
    <add key="ShowPendingOrders.AvailableAgreementTypes" value="Investment;Membership;Donation;SettlementAgreement;General" />
    <!--Matching-->
    <add key="MatchingMinScore" value="1"/>
    <add key="AmountOrderMatcher" value="1"/>
    <add key="BankaccountholderContactMatcher" value="1"/>
    <add key="BankaccountnrContactMatcher" value="1"/>
    <add key="DescriptionAgreementMatcher" value="1"/>
    <add key="DescriptionContactMatcher" value="1"/>
    <add key="FullSearchContactMatcher" value="1"/>
    <add key="ValuedateOrderMatcher" value="1"/>
  </appSettings>

  <system.transactions>
    <defaultSettings timeout="00:10:00" />
  </system.transactions>
</configuration>
